@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}
.section-content {
  height: calc(100vh - 48px);
  font-size: 3rem;
  background-color: #fff;
  color: #fff;
}

/* Navbar CSS */
